<div class="ui one column grid">
	<!-- Billboard -->
	<div class="ui centered billboard test ad column"
		data-text="Under Construction"></div>
	<!-- Links -->
	<!-- <div class="center aligned column ui text menu">
		<a class="item">We are Lettercraft</a> <a class="item">Business
			Cards</a> <a class="item">Flyers</a>
	</div> -->
	<!-- Start -->
	<div class="column">
		<div class="ui three column horizontally padded doubling stackable celled grid">
			<div class="column">
				<div class="ui items">
					<div class="item">
						<div class="ui tiny image">
							<img src="assets/img/clock.png">
						</div>
						<div class="content">
							<div class="header">Next Day Delivery</div>
							<div class="description">
								<p>Get your orders the next day.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui items">
					<div class="item">
						<div class="ui tiny image">
							<img src="assets/img/printer.png">
						</div>
						<div class="content">
							<div class="header">Professional Prints</div>
							<div class="description">
								<p>Premium designs made by you, printed by us.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui items">
					<div class="item">
						<div class="ui tiny image">
							<img src="assets/img/help.png">
						</div>
						<div class="content">
							<div class="header">Fast. Affordable. Efficient</div>
							<div class="description">
								<p>Cut your costs and save time - we deliver straight to your doorstep.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End -->

	<!-- Cards -->
	<div class="column">
		<div class="ui three stackable doubling cards">
		<!-- <div class="column"> -->
			<div class="card">
				<div class="image">
					<img src="assets/img/adobe.png">
				</div>
				<div class="content">
					<div class="header">Print my design</div>
					<div class="description">
						<p>Have a design on hand? Upload it here! Leave the printing to us.</p>
					</div>
				</div>
				<div class="extra content">
					<a href="#">Upload it here</a>
				</div>
			</div>
		<!-- </div> -->
		<!-- <div class="column"> -->
			<div class="card">
				<div class="image">
					<img src="assets/img/type.png">
				</div>
				<div class="content">
					<div class="header">Easy Peasy</div>
					<div class="description">
						<p>Creating your own business card is easy with our online editing tool. Design the way you want it!</p>
					</div>
				</div>
				<div class="extra content">
					<a href="/orders">Create my own</a>
				</div>
			</div>
		<!-- </div> -->
		<!-- <div class="column"> -->
			<div class="card">
				<div class="image">
					<img src="assets/img/samples.png">
				</div>
				<div class="content">
					<div class="header">Package Price Promotions</div>
					<div class="description">
						<p>Get more for less! Have more than 10 employees? Get bigger discounts with more prints.</p>
					</div>
				</div>
				<div class="extra content">
					<a href="#">See current promos</a>
				</div>
			</div>
		<!-- </div> -->
		</div>
	</div>
	<!-- End Cards -->
</div>
