<div class="ui one column grid">
	<!-- Billboard -->
	<div class="ui centered billboard test ad column" data-text="Under Construction"></div>
	<!-- Start -->
	<div class="column">
		<div class="ui three doubling stackable cards">
			<!-- <div ng-repeat="product in products"> -->
			<div class="card" ng-repeat="product in products">
				<div class="image">
					<img ng-src="{{product.imageLink}}">
				</div>
				<div class="content">
					<div class="header"><a href="#/products/{{product.id}}">{{product.name}}</a></div>
					<div class="description">
						<p>{{product.description}}</p>
					</div>
				</div>
				<div class="extra content">
					<a class="ui blue fluid icon labeled button" href="/products/{{product.urlName}}">
						<i class="info circle icon"></i> Design Gallery
					</a>
					<br />
					<a class="ui teal fluid icon labeled  button" href="/orders/{{product.urlName}}">
						<i class="file text icon"></i> Upload Your Own
					</a>
				</div>
			</div>
			<!-- </div> -->
		</div>
	</div>
	<!-- End Cards -->
</div>
