<h2 class="ui header">{{product.name}}</h1>
<div class="ui four compact doubling stackable cards">
	<div ng-if="loading" class="ui centered active large text loader">Loading</div>
	<div ng-if="!loading" class="card" ng-repeat="design in product.designs" init="index = $index">
	<!-- <div class="card"> -->
<!-- 			<div ng-if="design.loading" class="ui segment" style="height: 216px; margin-bottom: 0px;">
			<div class="ui centered active indeterminate loader"></div>
		</div> -->
		<a href="#" ng-click="showImages(design)">
			<img class="ui medium image" ng-src="{{design.imageLinkPreview}}" />
		</a>
		<div class="content">
			<a href="#" class="header">{{design.name}}</a>
		</div>
	<!-- </div> -->
	</div>
</div>

<div id="design-modal" class="ui small modal">
	<div class="header">Design: {{modal.name}}</div>
	<div class="image content">
		<div class="ui two column doubling stackable grid">
			<div class="column">
				<h3>Front:</h3>
				<img class="medium image" ng-src="{{modal.front.url}}"/>
			</div>
			<div class="column">
				<h3>Back:</h3>
				<img class="medium image" ng-src="{{modal.back.url}}"/>
			</div>
		</div>
	</div>
	<div class="actions">
		<div class="ui positive approve button">Order</div>
		<div class="ui negative cancel button">Cancel</div>
	</div>
</div>