<div class="ui header">Review and Complete Order</div>
<div class="ui divider"></div>
<div class="ui two column stackable grid">
	<div class="stretched row">
		<div class="column">
			<div class="ui two column stackable grid">
				<div class="row">
					<div class="column">Product Type:</div>
					<div class="right aligned column">
						{{order.product.name}}
					</div>
				</div>
				<div class="row">
					<div class="column">Quantity:</div>
					<div class="right aligned column">
						{{order.quantity}}
					</div>
				</div>
				<div class="row" ng-repeat="(key, value) in order.attributes">
					<div class="column">{{key}}:</div>
					<div class="right aligned column">{{value.name}}</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui raised segment">
				<h4>Design Preview:</h4>
				<img class="ui medium centered image" ng-src="{{order.frontImage.url}}">
				<img class="ui medium centered image" ng-src="{{order.backImage.url}}" ng-if="order.backImage">
			</div>
		</div>
	</div>
</div>
<div class="ui divider"></div>
<button class="ui large negative icon button" ng-click="cancel()">
	<i class="undo icon"></i>
	Cancel
</button>
<button class="ui large blue icon button" ng-click="addToCart()">
	<i class="add to cart icon"></i>
	Add to Cart
</button>
<button class="ui large positive icon button">
	<i class="share icon"></i>
	Submit Order
</button>