<form class="ui large form">
	<h2 class="ui dividing header">Upload a Design</h2>
	<div class="two fields">
		<div class="field" lc-upload-image image="order.frontImage" file="order.frontFile" label="Front"></div>
		<div class="field" lc-upload-image image="order.backImage" file="order.backFile" label="Back"></div>
	</div>
	<div class="ui divider"></div>
	<div class="field">
		<button class="ui large negative icon button" ng-click="cancel()">
			<i class="undo icon"></i>
			Cancel
		</button>
		<button id="submit-designs" class="ui green icon large button" ng-click="goToView(2)">
			<i class="arrow right icon"></i>
			Next
		</button>
	</div>
</form>