<form name="detailsForm" class="ui fluid large form" ng-submit="goToView(3)" novalidate>
	<h2 class="ui dividing header">Order Details</h2>
	<div class="ui two column stackable grid">
		<div class="stretched row">
			<div class="column">
				<div class="field">
					<label>Quantity</label>
					<input type="number" ng-model="order.quantity" min="{{order.product.minimumQuantity}}" step="{{order.product.quantityIncrement}}" placeholder="Quantity" required>
				</div>
				<div class="field" ng-repeat="category in categories">
					<label>{{category.name}}</label>
					<select ng-model="order.attributes[category.name]" ng-options="attribute.name for attribute in category.attributes" required>
						<option value="">Choose {{category.name}}</option>
					</select>
				</div>
			</div>
			<div class="column">
				<div class="ui raised segment">
					<h4 class="ui dividing header">Price Estimate</h4>
					<div class="ui field">
						<div class="ui transparent input">
							<label>Product Type:</label>
							<input ng-model="order.product.name" type="text" style="text-align: right" disabled>
						</div>
					</div>
					<div class="ui field">
						<div class="ui transparent input">
							<label>Base Price:</label>
							<input ng-model="order.product.basePrice" type="text" style="text-align: right" disabled>
						</div>
					</div>
					<div class="ui field">
						<div class="ui transparent input">
							<label>Total Price:</label>
							<input ng-model="order.basePrice" type="text" style="text-align: right" disabled>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui divider"></div>
	<div class="field">
		<button class="ui large negative icon button" ng-click="cancel()">
			<i class="undo icon"></i>
			Cancel
		</button>
		<button type="submit" class="ui green icon large button" ng-disable="detailsForm.$inv">
			<i class="arrow right icon"></i>
			Next
		</button>
	</div>
</form>