<div class="ui huge header">Order {{order.product.name}}</div>
<div class="ui divider"></div>
<div class="ui three stackable steps">
	<a ng-class="{active: isSelected(1), completed: isDone(1), step: true}" ng-click="goToView(1)">
		<i class="file image outline icon"></i>
		<div class="content">
			<div class="title">Design</div>
			<div class="description">Select product design</div>
		</div>
	</a>
	<a ng-class="{active: isSelected(2), completed: isDone(2), step: true, disabled: !isDone(1)}" ng-click="goToView(2)">
		<i class="info circle icon"></i>
		<div class="content">
			<div class="title">Details</div>
			<div class="description">Select order details</div>
		</div>
	</a>
	<a ng-class="{active: isSelected(3), completed: isDone(3), step: true, disabled: !isDone(2)}" ng-click="goToView(3)">
		<i class="cloud upload icon"></i>
		<div class="content">
			<div class="title">Complete</div>
			<div class="description">Review and send order</div>
		</div>
	</a>
</div>

<div class="ui segment" ng-switch="view">
	<div class="ui error message" ng-class="{hidden: !hasErrors()}">
		<div class="header">
			{{validation.message}}
		</div>
		<ul class="list">
			<li ng-repeat="message in validation.errors">{{message}}</li>
		</ul>
	</div>

	<div ng-switch-when="1" lc-design-upload></div>
	<div ng-switch-when="2" lc-order-details></div>
	<div ng-switch-when="3" lc-order-complete></div>
</div>