<label>{{label}}</label>
<div class="ui fluid action input">
	<input type="text" ng-model="image.filename" placeholder="Upload image">
	<button class="ui blue labeled icon button" ng-click="browseFiles(label)">
		<i class="folder open icon"></i>
		Browse...
	</button>
</div>
<input id="{{'image-upload-' + $id}}" name="upload-image" type="file" style="visibility: hidden; height: 0px">
<img ng-if="image.loaded" class="ui medium centered image" ng-src="{{image.url}}" title="{{image.filename}}" alt="{{image.filename}}"/>